<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>{{ page.title }} | {{ site.title }}</title>
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXPZM8QESE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HXPZM8QESE');
</script>

</head>

<body>

<header>

<h1><a href="/">Personal Blog</a></h1>

<nav>
<a href="/">Home</a>
<a href="/topics/technology">Technology</a>
<a href="/topics/coding">Coding</a>
<a href="/topics/global-affairs">Global Affairs</a>
<a href="/topics/economy">Economy</a>
<a href="/topics/travel">Travel</a>
<a href="/about">About</a>
<a href="/privacy">Privacy</a>
</nav>

<hr>

</header>

<div class="container">

{{ content }}

</div>

<footer>

<hr>

<p>© 2026 Personal Blog</p>

</footer>

</body>

</html>
