<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>{{ page.title }} | Personal Blog</title>
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXPZM8QESE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HXPZM8QESE');
</script>

</head>

<body>

<header>
<h1>CAT Prep Blog</h1>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
</nav>

<hr>
</header>

<div class="container">
{{ content }}
</div>

<footer>
<hr>
<p>© 2026 CAT Prep Blog</p>
</footer>

</body>

</html>
